[user]
	name = rvargas93
	email = vargasmoral93@gmail.com
[core]
	autocrlf = input
[push]
	default = current
[pull]
	default = current
[alias]
	lod = log --oneline --decorate --graph --all --color
	merge-log = "!f() { git log --pretty=format:'%h %s' \"$1^..$1\"; }; f"
